numpy~=1.21.2
scipy
pandas
scikit-learn
matplotlib
jupyter
opencv-python~=4.5.4.60
opencv-contrib-python
torch==1.7.0
tensorflow==2.5.0
imutils~=0.5.4
torchvision~=0.11.1
scikit-image~=0.18.3
joblib~=1.1.0
pillow~=8.4.0